
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="margin-left:20px;font-size:16px;">
    <h2>THÔNG TIN SINH VIÊN</h2>
    <ul>
        <li>Mã Sinh Viên [Mã Sinh Viên dự kiểm tra ...]</li>
        <li>Họ Tên       [Họ Tên Sinh Viên dự kiểm tra ...]</li>
        <li>Lớp          ...</li>
        <li>Ngày kiểm tra...</li>
    </ul>
</div>