
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="margin-left:20px;font-size:16px;">
    <h2>THÔNG TIN SINH VIÊN DỰ THI</h2>
    <ul>
        <li>Mã Sinh Viên 63131016</li>
        <li>Họ Tên       Nguyễn Hùng Phát</li>
        <li>Lớp          63CNTT-2</li>
        <li>Ngày kiểm tra28/10/2023</li>
        <li>Học phần: Phát triển ứng dụng web</li>
    </ul>
</div>